{% extends "base.html" %}
{% block body %}
<h2>Education</h2>
<h4>Click to Choose</h4><button class="btn btn-primary btn-block"  onclick="phdFunction()">PhD</button>
                        <br>
                        <br>
                        <button class="btn btn-primary btn-block"  onclick="PostGradFunction()">PostGrad</button>
                        <br>
                        <br>
                        <button class="btn btn-primary btn-block"  onclick="UnderGradFunction()">UnderGrad</button>
                        <br>
                        <br>
                        <button class="btn btn-primary btn-block"  onclick="HighSchoolFunction()">HighSchool</button>
                        <br>
                        <br>



{% endblock %}


{% block content %}
<h2>Enter Information about your Education</h2>
<hr  style="height:2px;border-width:0;color:gray;background-color:gray">
<form action="/experience/" id="mainform" method="post" name="mainform">
<span id="myForm">

</span>
{% endblock %}

